@font-face {
	font-family: Cards;
	src: url("./assets/fonts/cards.ttf") format("truetype");
	font-display: swap
}

* {
	font-family: Cards, sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: rgba(255, 255, 255, .952)
}

h1 {
	padding: 0;
	margin: 0
}

body {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("./assets/img/bg_2.jpg");
	text-align: center;
	position: relative;
}